body{
    height: 80vh;
    background-color: yellow;
}

main{
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 25px;
}
header{
    grid-column: 1/4;
    grid-row: 1/1;
    background-color: cornflowerblue;
}
nav{
    grid-column: 1/2;
    grid-row: 2/2;
    background-color: cornflowerblue;
}
aside{
    grid-column: 3/2;
    grid-row: 2/2;
    background-color: cornflowerblue;
}
article{
    grid-column: 3/4;
    grid-row: 2/2;
    background-color: cornflowerblue;
}
section{
    grid-column: 1/2;
    grid-row: 3/3;
    background-color: cornflowerblue;
}
summary{
    grid-column: 3/2;
    grid-row: 3/3;
    background-color: cornflowerblue;
}
footer{
    grid-column: 3/4;
    grid-row: 3/3;
    background-color: cornflowerblue;
}